body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

h1 {
    letter-spacing: -2px;
    color: #263238;
}

.center {
    margin: 0 auto;
}

.response-no {
    font-size: 1.8rem;
    color: #E91E63;
}

.response-yes {
    font-size: 1.8rem;
    color: #0091EA;
}

.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
 
.victor-mono-500 {
    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}  

.victor-mono-700 {
    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}  

.vote-message {
    color: #1976D2;
}

.response-message {
    color: #1976D2;
}

.response-message-yes {
    color: #1976D2;
}

.response-message-no {
    color: #E91E63;
}

#logout-form {
    display: inline;
}

#logout-form button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    /* color: white; */
    padding: 0.5rem;
}

@media (max-width: 767px) {
    .card {
        max-width: 100%;
    }

    .card-body {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
}
