{% extends 'base.html' %}
{% block content %}

<div class="row mx-2">
    <div class="offset-lg-3 col-lg-6">
        <h1 class="mb-5 bungee-regular">About</h1>
        <hr>
        <p>PubTest sets out to canvas the thoughts of the <em>everyday</em>Australian and be transparent with the resuts.</p>
        <p>We believe:</p>
        <ul>
            <li>While there is nuance and complexity to every discussion, an opinion is inherently for or against (e.g. as seen in referendums).</li>
            <li>Big data (i.e. no personally-identifiying data) affords anonymity, and in return, allow for more honest responses.</li>
            <li>Give-and-take: The more data you provide, the more you will receive.</li>
            <li>Paired with the question, a summary and a news article are provided for context. This caters for various cognitive types i.e. quick vs thoughtful thinkers.</li>
        </ul>
    </div>
</div>

{% endblock %}