{% extends 'base.html' %}
{% block content %}

<h1 class="mb-5 quattrocento-bold">PubTest</h1>

{% for temp in temps %}
<div class="card mb-4" style="width: 32rem;">
    <div class="card-header px-0 d-flex">
        <strong class="ms-5 me-2">#id</strong> <em class="flex-grow-1">date</em> <span class="me-5">Results</span>
    </div>
    <div class="card-body px-5 pt-4 pb-4">
        <h3 class="mb-4">{{ temp.question }}</h3>
        <a href="#" class="btn btn-light me-3 quattrocento-bold response-no">No</a>
        <a href="#" class="btn btn-light quattrocento-bold response-yes">Yes</a>
        <p class="mt-4">{{ temp.summary }}<br>
            <a href="#" class="card-link text-muted">Read the article</a>
        </p>
        
    </div>
</div>
{% endfor %}

{% endblock %}