{% extends 'base.html' %}
{% block content %}

<div class="row mx-2">
    <div class="offset-lg-3 col-lg-6">
        <h1 class="mb-5 rye-regular">PUBTEST</h1>
    </div>
</div>

{% for article in articles %}
<div class="row mx-2">
    <div class="offset-lg-3 col-lg-6">
        <div class="card mb-4" style="width: 32rem;">
            <div class="card-header px-0 d-flex">
                <strong class="ms-5 me-2">#{{ article.id }}</strong> <em class="flex-grow-1">{{ article.date }}</em> <a
                    class="me-5 text-muted" href="#">Results</a>
            </div>
            <div class="card-body px-5 pt-4 pb-4">
                <h3 class="mb-4">{{ article.question }}</h3>
                <a href="#" class="btn btn-light me-3 rye-regular response-no">No</a>
                <a href="#" class="btn btn-light ms-2 rye-regular response-yes">Yes</a>
                <p class="mt-4">{{ article.summary }}<br>
                    <a href="{{ article.web_url }}" target="_blank" class="card-link text-muted">Read the article</a>
                </p>

            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
