{% extends 'base.html' %}
{% block content %}

<div class="row mx-2">
    <div class="offset-lg-3 col-lg-6">
        <h1 class="mb-5 bungee-regular">PUBTEST</h1>
    </div>
</div>

{% for article in articles %}
<div class="row mx-2">
    <div class="offset-lg-3 col-lg-6">
        <div class="card mb-4" style="width: 32rem;">
            <div class="card-header px-0 d-flex">
                <strong class="ms-5 me-2">#{{ article.id }}</strong> <em class="flex-grow-1">{{ article.date }}</em> <a
                    class="me-5 text-muted" href="#">Results</a>
            </div>
            <div class="card-body px-5 pt-4 pb-4">
                <h3 class="mb-4">{{ article.question }}</h3>
                <div>
                    {% if user.is_authenticated %}
                        {% if article.user_voted_yes %}
                            <p class="mt-2 response-message-yes">You have voted YES</p>
                        {% elif article.user_voted_no %}
                            <p class="mt-2 response-message-no">You have voted NO</p>
                        {% else %}
                            <button class="btn btn-light me-3 bungee-regular response-no"
                                    data-article-id="{{ article.id }}">No</button>
                            <button class="btn btn-light ms-2 bungee-regular response-yes"
                                    data-article-id="{{ article.id }}">Yes</button>
                        {% endif %}
                        <p class="mt-2 response-message" style="display: none;"></p>
                        {% else %}
                        <button class="btn btn-light me-3 bungee-regular response-no" disabled>No</button>
                        <button class="btn btn-light ms-2 bungee-regular response-yes" disabled>Yes</button>
                        <p class="mt-3 vote-message" id="login-message" style="display: block;">→ Log in to vote</p>
                    {% endif %}
                </div>
                <p class="mt-4 mb-0">{{ article.summary }}</p>
                <a href="{{ article.web_url }}" target="_blank" class="card-link text-muted">Read the article</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script>
    // Event listener for 'Yes' button
    document.querySelectorAll('.response-yes').forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault();
            const articleId = this.getAttribute('data-article-id');
            const answer = 'yes';

            // send AJAX request to record response
            recordResponse(articleId, answer);

            // hide both button and show response message
            const responseMessage = this.parentElement.parentElement.querySelector('.response-message');
            responseMessage.textContent = 'You have voted YES';
            responseMessage.style.color = "#1976D2";
            const buttons = this.parentElement.querySelectorAll('.response-yes, .response-no');
            buttons.forEach(button => button.style.display = 'none');
            responseMessage.style.display = 'block';
        });
    });

    // Event listener for 'No' button
    document.querySelectorAll('.response-no').forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault();
            const articleId = this.getAttribute('data-article-id');
            const answer = 'no';

            // send AJAX request to record response
            recordResponse(articleId, answer);

            // hide both button and show response message
            const responseMessage = this.parentElement.parentElement.querySelector('.response-message');
            responseMessage.textContent = 'You have voted NO';
            responseMessage.style.color = "#E91E63";
            const buttons = this.parentElement.querySelectorAll('.response-yes, .response-no');
            buttons.forEach(button => button.style.display = 'none');
            responseMessage.style.display = 'block';
        });
    });

    function recordResponse(articleId, answer) {
        fetch('/vote/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({
                article_id: articleId,
                answer: answer
            })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok.');
                }
            })
            .catch(error => {
                console.error('Error recording response:', error);
            });
    }

    // get CSRF token from cookies
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
</script>

{% endblock %}
