<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls</title>
</head>
<body>
    <h1>Articles queried.</h1>
    <ul>
        {% for article in articles %}
            <li>
                <strong>Headline:</strong> {{ article.headline }}<br>
                <strong>Summary:</strong> {{ article.trail_text }}<br>
                <strong>Read more:</strong> <a href="{{ article.web_url }}">Link</a>
                <hr>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
