{% extends 'base.html' %}
{% block content %}

<div class="row mx-2">
    <div class="offset-lg-3 col-lg-6">
        <h1 class="mb-5 bungee-regular">Sign up</h1>

        <p class="red-text">{{ error_message }}</p>
        
        <div class="mb-3">
            <form method="POST" action="{% url 'signup' %}">
                {% csrf_token %}
                <div class="form-floating mb-4">
                    {{ form.username.label_tag }}
                    <input type="text" class="form-control mb-1" id="id_username" name="username" placeholder="Username">
                    <label for="id_username">Username</label>
                    <small id="usernameHelp" class="form-text text-muted">150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
                </div>
                <div class="form-floating mb-4">
                    {{ form.password1.label_tag }}
                    <input type="password" class="form-control mb-1" id="id_password1" name="password1" placeholder="Password">
                    <label for="id_password1">Password</label>
                    <small id="usernameHelp" class="form-text text-muted">
                        <p>Choose a unique password.</p>
                        <ul>
                            <li>Your password must contain at least 8 characters.</li>
                            <li> Your password can’t be entirely numeric.</li>
                        </ul>
                    </small>
                </div>
                <div class="form-floating mb-4">
                    {{ form.password2.label_tag }}
                    <input type="password" class="form-control mb-1" id="id_password2" name="password2" placeholder="Confirm Password">
                    <label for="id_password2">Confirm Password</label>
                    <small id="usernameHelp" class="form-text text-muted">Enter the same password as before, for verification.</small>
                </div>
                <input type="submit" class="btn btn-dark mt-3" value="Sign up">
            </form>
        </div>  
    </div>
</div>

{% endblock %}
